<p id="notice"><%= notice %></p>

<div class="page-header">
  <div class="page-header__title">
    <h1 class="text-white text-2xl">Controls</h1>
  </div>
  <div class="page-header__actions">  
    <%= link_to 'New Control', new_control_path, class: 'btn-primary' %>
  </div>
</div>

<%= render partial: 'components/control_list', locals: { controls: @controls } %>