<h1>Welcome Home!</h1>


<%= link_to 'Log in', login_url %>

<div class="flex flex-row">
  <div class="w-1/3">
    Controls
  </div>

  </div class="w-1/3">
    Assets
  </div>

  <div class="w-1/3">
    Evidence
  </div>
</div>