@tailwind base;

@tailwind components;

@tailwind utilities;

.primary-nav {
  @apply flex-1;
}

.primary-nav__items {
  @apply flex flex-row justify-center;
}

.primary-nav__item {
  @apply inline px-3;
}

.primary-nav__item_link {
  @apply rounded block px-3 py-2 text-white;
}

.primary-nav__item_link:hover {
  @apply bg-gray-800 text-white border-b border-purple-700 transition-all duration-500;
}

.primary-nav__item_link--active {
  @apply bg-gray-800 text-white border-b border-purple-700 transition-all duration-500;
}

.btn-primary {
  @apply text-white bg-purple-800 inline-block rounded px-3 py-2 shadow transition-colors duration-500;
}

.btn-primary:hover {
  @apply bg-purple-700
}

a {
  @apply text-purple-600 font-semibold;
}

a:hover {
  @apply text-purple-500 transition-colors duration-500;
}

.control-list-item {
  @apply px-4 py-3 flex flex-row border-b border-gray-800;
}

.control-list-item:hover {
  @apply transition-colors duration-500;
  background-color: rgba(255,255,255,0.05)
}

.control-list-item__handle {
  @apply uppercase text-sm text-gray-600 w-20 font-semibold mt-1 mr-6;
}

.control-list-item__main {
  width: 33%;
}
.control-list-item__name {
  @apply text-white font-semibold;
}

.control-list-item__description {
  @apply text-gray-500 text-sm;
}

.control-list-item__actions {
  @apply p-0 m-0 flex-1 text-right flex flex-row;
}

.control-list-item__actions_item {
  @apply inline-block ml-4;
}


.control-list-item__scope {
  width: 30%;
}

.page-header {
  @apply flex flex-row p-6 border-b border-purple-600;
}

.page-header__title {
  @apply flex-1;
}
.page-header__actions {
 
}

.tag {
  @apply bg-gray-800 text-gray-500 font-semibold px-2 py-1 inline-block rounded;
}