<p id="notice" class="success-box"><%= notice %></p>

<div class="page-form">
  <div class="page-form__intro">
    <h1 class="text-white text-2xl mt-12">Your Organization</h1>
  </div>
  <%= render 'form', organization: @organization %>
</div>
